/* .body-container {
  background-color: indianred;
  padding: 10px;
  display: grid;
  grid-template-columns : 10% 60% 10%;
  grid-template-rows:auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-evenly; 
  height: 600px;
  align-content: space-evenly;

}

.ele-container {
  background: wheat;
  border: 1px solid black;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&dis play=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.body-container {
  padding: 60px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-areas:
    "todo social social"
    "todo social social"
    "gfg leetcode github"
    "gfg leetcode github"
    "bookmark gnews gnews"
    "bookmark gnews gnews"
    "bookmark gnews gnews";
}

@media only screen and (max-width: 550px) {
  .body-container {
    padding: 10px;

    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-template-rows: 0.2fr 0.2fr 0.5fr 0.2fr 0.2fr 0.5fr 0.5fr;
    grid-template-areas:
      "todo"
      "gfg"
      "social"
      "leetcode"
      "github"
      "bookmark"
      "gnews";
  }
}

@media (min-width: 550px) and (max-width: 750px) {
  .body-container {
    padding: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.2fr 0.5fr 0.2fr 0.2fr 0.5fr 0.5fr;
    grid-template-areas:
      "todo"
      "gfg"
      "social"
      "leetcode"
      "github"
      "bookmark"
      "gnews";
  }
}

.ele-container {
  padding: 15px;
  font-size: 40px;
  border-radius: 15px;
  font-family: "Poppins", arial;
  font-style: normal;
}

.ele-container nav {
  display: flex;
  justify-content: space-between;
}

/*
I am playing with CSS
*/

#ele-1 {
  grid-area: todo;
  border: none;
  background: #faf9f0;
  overflow: scroll;
  position: relative;
  padding-top: 0px;
}

#todo-nav {
  position: sticky;
  top: 0;
  background: #faf9f0;
  z-index: 1;
}

.add-todo {
  position: sticky; /* set the navbar position to absolute */
  bottom: 12px; /* position the navbar at the bottom */
  display: flex;
  background: #faf9f0;
  justify-content: space-between;
}

#input-box {
  width: 80%;
  border: none;
  outline: none;
  border-radius: 15px;
}

#add-todo-btn {
  padding: 5px;
  outline: 0;
  border: none;
  background: #d5d9d0;
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 25px;

  border-radius: 50%;
}

.delete-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ele-container nav h2 {
  display: flex;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.to-do-container{
  margin-top: 15px;
  height: 200px;
  overflow: scroll;
}


.to-do-container span {
  position: absolute;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 0;
}


.single-todo-container{
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
}



input[type=checkbox] {
  position: relative;
	border: 2px solid #292B30;
	border-radius: 5px;
	background: none;
	cursor: pointer;
	line-height: 0;
	margin: 0 .6em 0 0;
	outline: 0;
	padding: 0 !important;
	vertical-align: text-top;
	height: 20px;
	width: 20px;
	-webkit-appearance: none;
  opacity: .5;
}

input[type=checkbox]:hover {
  opacity: 1;
}

input[type=checkbox]:checked {
  background-color: #292B30;
  opacity: 1;
}

input[type=checkbox]:before {
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 4px;
  height: 10px;
  border: solid #FFF;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}


#three-dot {
  background: transparent;
  border: none;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  margin-top: -10px;
  cursor: pointer;
}

.to-do-container {
  margin-top: 40px;
}

#ele-1 label {
  font-family: "Poppins", arial;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;

}

.checked {
  text-decoration: line-through;
}

#ele-2 {
  grid-area: social;
  display: grid;
  grid-template-areas:
    "twitter youtube spotify"
    "instagram add spotify";
  grid-column-gap: 23px;
  grid-row-gap: 23px;
  background: #f0f3fa;
}

.social-container {
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#twitter {
  grid-area: twitter;
  background: #c8dfef;
  color: #00acee;
}

/* unvisited link */
a:link {
  all: unset;
}

/* visited link */
a:visited {
  all: unset;
}

/* mouse over link */
a:hover {
  all: unset;
}

/* selected link */
a:active {
  all: unset;
}

#instagram {
  grid-area: instagram;
  background: #c13584;
  color: #ffff;
}

#youtube {
  grid-area: youtube;
  background: #efc8c8;
  color: #c4302b;
}

.circle {
  background: #f0f3fa;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.circle i {
  line-height: 10px;
}

#add {
  grid-area: add;
  background: #ffffff;
}
#spotify {
  grid-area: spotify;
  background: #9fdfa6;
  height: 100%;
}

#ele-3 {
  grid-area: gfg;
  background: #f0faf1;
}

.date {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.gfg-container {
  font-family: "Poppins";
  font-style: normal;
  line-height: 40px;
}

#gfg-logo {
  width: 44px;
  height: 22px;
}

#gfg-today {
  color: #2f8d46;
}

.gfg-container h2 {
  font-weight: 600;
  font-size: 24px;
  /* identical to box height */

  color: #292b30;
}

.gfg-container button {
  background: #292b30;
  border-radius: 5px;
  color: #ebe4e0;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.last-days {
  font-weight: 400;
  font-size: 16px;
  color: #292b30;
}

.last-days i {
  color: #2f8d46;
  cursor: pointer;
}

.last-seven-container {
  display: flex;
  justify-content: flex-start;
  gap: 14px;
}

.gfg-week-streak {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.done-gfg {
  background: #2f8d46;
}

.not-done-gfg {
  background: #c3dcc9;
}

#ele-4 {
  grid-area: leetcode;
  background: #faf6f0;
}

.leet-nav-left {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  /* identical to box height */

  color: #292b30;
  justify-content: space-around;
  align-items: center;
}

.leet-nav-left img {
  margin-left: 10px;
  width: 21px;
  height: 11px;
}

#leet-code-icon {
  height: 26px;
  width: 26px;
}

.leet-streak-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.leet-month-streak {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
}

.leet-box {
  height: 33px;
  width: 33px;
  background: #eeeeee;

  border: 1px solid #faf6f0;
}

.leet-lower-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yellow-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #efaf33;
}

.leet-right {
  display: flex;
  align-items: center;
}
.leet-right img {
  width: 83px;
  height: 37px;
}
.fucking-text {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.leet-lower-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  /* identical to box height, or 24px */

  color: #292b30;
}

.light-green {
  background: #8cc665;
}

.dark-green {
  background: #44a340;
}

.yellow {
  background: #d6e685;
}

#ele-5 {
  grid-area: github;
  background: #ecf7f9;
}

.white-box {
  background: #ffffff;
  padding: 0px 0px 20px 0px;
  border-radius: 7px;
}

.git-streak-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.git-streaks {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  gap: 9px;
}

.git-streak-box {
  border-radius: 5px;
  width: 25px;
  height: 25px;
}

.lower-text-area {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.main-lower {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  /* identical to box height */

  color: #256874;
}

.sub-lower {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */

  color: #92bfc7;
}

.lower-left,
.lower-right {
  display: flex;
  flex-direction: column;
}

.lower-right {
  text-align: right;
}

#ele-6 {
  grid-area: bookmark;
  background: #f7e8e8;
  overflow: scroll;
}

.book-container {
  display: grid;
  gap: 9px;
  margin-top: 20px;
}

.bookmark-item {
  padding: 15px 20px;
  background: #ffffff;
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmark-text-left {
  display: flex;
  flex-direction: column;
}

.bookmark-item h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  /* identical to box height */

  color: #292b30;
}

.book-time {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  /* identical to box height */

  color: rgba(41, 43, 48, 0.4);
}

.bookmark-item img {
  width: 25px;
  height: 13px;
}

#ele-7 {
  grid-area: gnews;
  background: #e8edf7;
  overflow: scroll;
}

.news-container {
  display: grid;
  margin-top: 15px;
}

.news-item {
  display: flex;
  background: #ffffff;
  border-radius: 13px;
  padding: 17px 24px;
}

.news-left-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-headline h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: #292b30;
}

.lower-metadata {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  /* identical to box height */

  color: rgba(41, 43, 48, 0.4);
}

.lower-metadata img {
  width: 106px;
  height: 36px;
}

.news-thumbnail {
  width: 225px;
  height: 139px;
}
